/* Menu */
.bg-light {
  background-color: #a8b6b9 !important;
}

.navbar-light .navbar-brand {
  color: #605e61 !important;
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link {
  color: #605e61 !important;
  font-size: 1.2em;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 30px;
}

.dropdown-item, .dropdown-menu {
  background-color: #e9ad99;
  color: #605e61 !important;
}

.dropdown-divider {
  border-color: #605e61 !important;
}

.navbar {
  border-bottom: .5px #605e61 solid;
  font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3f3d40 !important;
}

/* General Page */
body {
  background-color: #e8c4aa;
  color: #605e61;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 25px 0 25px 0;
}

h2 {
  font-size: 1.5em;
  padding: 0 0 10px 0;
  font-weight: bolder;
}

h3 {
  font-size: 1.1em;
  font-weight: bolder;
}

h3 {
  padding: 15px 0 10px 0;
}

img {
  width: 100%;
  vertical-align: left;
  border: #d99d90 dotted 8px;
  padding: 5px;
}

.col-lg img {
  border: none;
  padding: 0;
}

#signature {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

strong {
  font-weight: lighter;
  font-size: 1.3em;
}

footer {
  background-color: #605e61;
  padding: 10px;
  text-align: center;
  margin: 10px 0 0 0;
}

footer a {
  color: #e0cfb6;
}

footer a:hover {
  color: #e8c4aa;
}

a:hover {
  text-decoration-line: none;
  font-size: 1.1em;
}

img {
  margin: 15px;
}

.hover-pic img {
  margin: 0;
}

p {
  text-align: center;
  margin: 10px 10%;
}

/* Image transitions */
.hover-pic {
  cursor: pointer;
  height: 400px;
  position: relative;
  overflow: hidden;
  width: 400px;
  text-align: center;
  vertical-align: center;
}

.hover-pic .content {
  background-color: white;
  position: absolute;
  top: 0;
  color: gray;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 400px;
  height: 400px;
  padding: 40% 5px;
  align-items: center;
}

.hover-pic:hover .content {
  opacity: 0.8;
}

.hover-pic .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.hover-pic .text {
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

.hover-pic:hover .text {
  opacity: 1;
}